.header{
    position: relative;
    padding: 2rem 0 6rem;
    .section-wrap{
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;

        .header-logo{
            margin-right: 10px;
            display: flex;
            align-items: center;
            
           
        }
        .header-location{
            padding: 5px;
            background-color: #f4f4f4;
            cursor: pointer;
            p{
                font-size: 10px;
                margin-bottom: 5px;
            }
        }
        .header-search{
            flex: 1 1;
            max-width: 45rem;
            padding: 8px 3rem 8px 2rem;
            border-radius: 30px;
            margin: 0 15px;
            background: #f4f4f4;
            img{
                width: 15px;
                margin-right: 10px;
            }
            input{
                
                height: 30px;
            }
        }
        .sign-in-up{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Nunito",sans-serif;
            text-transform: uppercase;
           
        }
        .header-cart{
            margin-left: 10px;
            img{
                width: 30px;
                margin-right: 5px;
            
            }
            span{
                font-size: 1.8rem;
                color: red;
            }
        }
    }
    .list-menu{
        position: absolute;
        transition: .3s ease;
        background: #fff;
        width: 100%;
        max-width: 100%;
        top: 70%;
        li{
            a{
                text-transform: uppercase;
            }
        }
    }
    
}